.DS_Store
node_modules
dist
release
desktop.ini

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/release-builds
/.idea
app-update.yml
dev-app-update.yml
electron-builder.yml
.env
phpstorm/