{
    "singleQuote": true,
    "printWidth": 120,
    "tabWidth": 4,
    "requireConfig": false,
    "useTabs": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "singleAttributePerLine": true,
    "semi": true
}
