/** table */
.dstable table {
    @apply mt-2 w-full overflow-auto;
}

.dstable table thead {
    @apply text-primary uppercase text-xs leading-normal;
}

.dstable table thead th {
    @apply py-2 px-4 text-left text-primary uppercase text-xs leading-normal;
}

.dstable table tbody {
    @apply text-sm font-normal;
}

.dstable table tbody tr {
    @apply border-b bg-base-100 text-base-content;
}

.dstable table tbody tr td:first-child {
    @apply text-primary pl-0 !rounded-none;
}

.dstable table tbody td {
    @apply py-2 px-4 text-left rounded-lg;
}

/*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/
.hljs {
    @apply cursor-pointer flex justify-between w-full cursor-pointer text-sm rounded-md py-2 select-none mr-[30px];
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
    @apply text-red-600 dark:text-red-200;
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
    color: #6f42c1;
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
    @apply text-[#005cc5] dark:text-cyan-400;
}

.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
    @apply text-[#032f62] dark:text-base1-50;
}

.hljs-built_in,
.hljs-symbol {
    color: #e36209;
}

.hljs-code,
.hljs-comment,
.hljs-formula {
    color: #6a737d;
}

.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
    color: #22863a;
}

.hljs-subst {
    color: #24292e;
}

.hljs-section {
    color: #005cc5;
    font-weight: 700;
}

.hljs-bullet {
    color: #735c0f;
}

.hljs-emphasis {
    color: #24292e;
    font-style: italic;
}

.hljs-strong {
    color: #24292e;
    font-weight: 700;
}

.hljs-addition {
    color: #22863a;
    background-color: #f0fff4;
}

.hljs-deletion {
    color: #b31d28;
    background-color: #ffeef0;
}

.vjs-tree-node {
    @apply text-xs
}
