pre {
    @apply !text-xs;
}

pre.sf-dump-expanded {
    @apply text-base1-600;
}

pre.sf-dump .sf-dump-ref {
    @apply text-gray-500 text-sm font-normal;
}

pre.sf-dump .sf-dump-ref span {
    @apply px-1 text-[0.8rem];
}

pre.sf-dump .sf-dump-public,
pre.sf-dump .sf-dump-protected,
pre.sf-dump .sf-dump-private {
    @apply !text-base-content text-sm;
}

pre.sf-dump .sf-dump-ref,
pre.sf-dump .sf-dump-note {
    @apply text-primary font-normal !text-sm leading-4;
}

pre.sf-dump .sf-dump-str {
    @apply text-base !font-normal text-sm leading-tight;
}

pre.sf-dump .sf-dump-index {
    @apply text-blue-500 text-sm;
}

.sf-dump-default {
    display: none !important;
}

.sf-dump-expanded {
    @apply text-gray-400 font-light;
}

pre.sf-dump .sf-dump-const {
    @apply text-accent text-sm font-semibold;
}

span.dump-clock {
    @apply uppercase select-none border focus:outline-none border-gray-400 cursor-pointer flex justify-center px-2 py-1 text-sm text-gray-500 bg-white rounded-sm transition duration-150 ease-in-out;
}

.dump-type {
    @apply uppercase select-none border focus:outline-none border-gray-400 cursor-pointer flex justify-center px-2 py-1 text-sm text-gray-500 bg-white rounded-sm transition duration-150 ease-in-out;
}

code,
kbd,
samp,
pre {
    font-size: 1em;
    letter-spacing: 0.025em !important;
}

pre.sf-dump .sf-dump-note {
    @apply text-sm;
    line-height: unset;
}

pre.sf-dump .sf-dump-public,
pre.sf-dump .sf-dump-protected,
pre.sf-dump .sf-dump-private {
    @apply !text-base-content;
}

pre.sf-dump:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

pre.sf-dump span {
    display: inline;
}

pre.sf-dump a {
    text-decoration: none;
    cursor: pointer;
    border: 0;
    outline: none;
    color: inherit;
}

pre.sf-dump img {
    max-width: 50em;
    max-height: 50em;
    margin: 0.5em 0 0 0;
    padding: 0;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAAAAAA6mKC9AAAAHUlEQVQY02O8zAABilCaiQEN0EeA8QuUcX9g3QEAAjcC5piyhyEAAAAASUVORK5CYII=) #d3d3d3;
}

pre.sf-dump .sf-dump-ellipsis {
    display: inline-block;
    text-overflow: ellipsis;
    max-width: 5em;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

pre.sf-dump .sf-dump-ellipsis + .sf-dump-ellipsis {
    max-width: none;
}

pre.sf-dump code {
    display: inline;
    padding: 0;
    background: none;
}

.sf-dump-public.sf-dump-highlight,
.sf-dump-protected.sf-dump-highlight,
.sf-dump-private.sf-dump-highlight,
.sf-dump-str.sf-dump-highlight,
.sf-dump-key.sf-dump-highlight {
    background: rgba(111, 172, 204, 0.3);
    border: 1px solid #7da0b1;
    border-radius: 3px;
}

.sf-dump-public.sf-dump-highlight-active,
.sf-dump-protected.sf-dump-highlight-active,
.sf-dump-private.sf-dump-highlight-active,
.sf-dump-str.sf-dump-highlight-active,
.sf-dump-key.sf-dump-highlight-active {
    background: rgba(253, 175, 0, 0.4);
    border: 1px solid #ffa500;
    border-radius: 3px;
}

pre.sf-dump .sf-dump-search-hidden {
    display: none !important;
}

pre.sf-dump .sf-dump-search-wrapper {
    font-size: 0;
    white-space: nowrap;
    margin-bottom: 5px;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 5px;
    @apply flex items-center;
}

pre.sf-dump .sf-dump-search-wrapper > * {
    vertical-align: top;
    box-sizing: border-box;
    font-weight: normal;
}

pre.sf-dump .sf-dump-search-wrapper > input.sf-dump-search-input {
    min-width: 15px;
    width: 100%;
}

pre.sf-dump .sf-dump-search-wrapper > .sf-dump-search-input-next,
pre.sf-dump .sf-dump-search-wrapper > .sf-dump-search-input-previous {
    background: #f2f2f2;
    outline: none;
    border-left: none;
    font-size: 0;
    line-height: 0;
}

pre.sf-dump .sf-dump-search-wrapper > .sf-dump-search-input-next > svg,
pre.sf-dump .sf-dump-search-wrapper > .sf-dump-search-input-previous > svg {
    pointer-events: none;
    width: 12px;
    height: 12px;
}

pre.sf-dump .sf-dump-search-wrapper > .sf-dump-search-count {
    display: inline-block;
    padding: 0 5px;
    margin: 0;
    border-left: none;
    line-height: 21px;
    font-size: 14px;
}

pre.sf-dump,
pre.sf-dump .sf-dump-default {
    line-height: 1.2em;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-all;
    border-radius: 4px;
}

pre.sf-dump .sf-dump-num {
    font-weight: bold;
    @apply text-cyan-700 text-sm;
}

pre.sf-dump .sf-dump-meta {
    color: #b729d9;
}

pre.sf-dump .sf-dump-ns {
    user-select: none;
}

.sf-dump-search-wrapper,
.sf-dump-search-hidden {
    display: none;
}

pre.sf-dump .sf-dump-key {
    @apply text-base-content text-sm font-normal;
}

.sf-dump-search-input-previous {
    @apply p-1 !border-none mr-0.5 flex !items-center;
}

.sf-dump-search-input-next {
    @apply p-1 !border-none mr-0.5 flex !items-center;
}
