@import "@/sf-dump.css";
@import "@/custom.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #18171b;
    margin: 0;
    padding-bottom: 3rem;
}

.movable-container {
    -webkit-app-region: drag;
}

::-webkit-scrollbar {
    width: 11px;
    height: 14px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(203, 206, 210);
    border: 3px solid transparent;
    background-clip: content-box;
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #9d9a9a;
}

.btn {
    min-height: unset;
    height: 28px;
    padding-left: 4px;
    padding-right: 4px;
    border-right: 0 !important;
}

/* daisyui */
.collapse {
    @apply rounded-md;
}
.collapse-title,
:where(.collapse > input[type="checkbox"]),
:where(.collapse > input[type="radio"]) {
    padding-inline-end: 1rem !important;
    min-height: 2.75rem;
}

.collapse-title {
    @apply py-1.5;
}

.menu li a {
    @apply px-1.5 text-[0.65rem];
}

[data-theme="laravel"] .bg-laravel {
    @apply bg-neutral;
}

.traceable {
    @apply text-sm tracking-wider;
}

.line-number {
    @apply inline-block w-[40px] select-none text-base-content;
}

.hljs {
    @apply !bg-transparent font-normal text-xs leading-8;
}

.hljs,
.hljs-params {
    color: #abb2bf;
}

.hljs-comment,
.hljs-quote {
    color: #5c6370;
    font-style: italic;
}

.hljs-doctag,
.hljs-formula,
.hljs-keyword {
    color: #c678dd;
}

.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
    color: #e06c75;
}

.hljs-literal {
    color: #56b6c2;
}

.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
    color: #98c379;
}
.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
    color: #d19a66;
}

.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
    color: #61aeee;
}

.hljs-built_in,
.hljs-class .hljs-title,
.hljs-title.class_ {
    color: #e6c07b;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: 700;
}

.hljs-link {
    text-decoration: underline;
}

.pane-code {
    @apply !bg-base-100;
}
