@import "@/sf-dump.css";
@import "@/custom.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #18171b;
    font-weight: 100;
    margin: 0;
    padding-bottom: 3rem;
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: inherit;
}

::-webkit-scrollbar {
    width: 11px;
    height: 11px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(203, 206, 210);
    border: 3px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #9d9a9a;
}

.btn {
    min-height: unset;
    height: 28px;
    padding-left: 4px;
    padding-right: 4px;
    border-right: 0 !important;
}

/* daisyui */
.collapse {
    @apply rounded-md;
}
.collapse-title,
:where(.collapse > input[type="checkbox"]),
:where(.collapse > input[type="radio"]) {
    padding-inline-end: 1rem !important;
    min-height: 2.75rem;
}

.collapse-title {
    @apply py-1.5;
}

.menu li a {
    @apply px-1.5 text-[0.65rem];
}

[data-theme="laravel"] .bg-laravel {
    @apply bg-neutral
}
